* {
  box-sizing: border-box;
}

body{
  /* max-width: 1000px; */
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 233, 233);
  /* border: 1px solid black; */
}

h1{
  /* font-family: 'Irish Grover'; */
  font-size: 50px;
  padding: 0px;
  margin: 10px;
  min-width: 400px;
}

nav{ 
  min-width: 500px;
}

nav ul{
  display: flex;
}

nav a{
  font-size: 30px;
  text-decoration: none;
  padding: 0 30px;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

nav a:hover{
  color: rgb(233, 154, 63);
  text-decoration: underline;
}

nav a:active{
  color: black;
}

main{
  max-width: 1000px;
  min-height: 80vh;
  margin: auto;
  /* display: flex; */
  align-items: center;
  margin-top: 2rem;
  position: relative;
  /* margin-bottom: 9rem; */
  /* border: 1px solid black;*/
  background-image: url("../Images/notepad.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 

form{
  /* position: relative;
  height: 80%; */
  margin-bottom: 100px;
}

#dropdownSection{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 10px 0;
}

.dropdown-check-list{
  display: inline-block;
}

.anchor{
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px 5px 5px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 190px;
  text-align: center;
  color: black;
  background-color: #eb682f;
}

.anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid grey;
  border-radius: 5px;
  border-top: none;
  background-color: rgb(236, 233, 233);
}

.dropdown-check-list li {
  list-style: none;
  font-size: 19px;
  background-color: rgb(236, 233, 233);
}

/* .dropdown-check-list.visible .anchor {
  color: #0094ff;
} */

.dropdown-check-list.visible #proteins {
  display: block;
}

.dropdown-check-list.visible #vegetables {
  display: block;
}

.dropdown-check-list.visible #dairy {
  display: block;
}

.dropdown-check-list.visible #carbs {
  display: block;
}

.dropdown-check-list.visible #other {
  display: block;
}

#buttonSection{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  position: absolute;
  bottom: 10px;
  left: 355px;
}

#submit{
  width: 250px;
  font-size: 30px;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #eb682f;
  transition: 0.2s;
}

#submit:hover{
  border: 2px solid white;
  color: white;
}

#submit:active{
  border: 2px solid black;
  color: black;
}

footer{
  text-align: center;
  /* border: 1px solid black; */
}

footer a{
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.socialMedia{
  width: 50px;
  height: 50px;
  color: black;
  cursor: pointer;
  margin: 20px;
  transition: 0.2s;
}

.socialMedia:hover{
  opacity: 0.5;
}

.socialMedia:active{
  opacity: 1;
}

footer p{
  margin-bottom: 10px;
}

body::-webkit-scrollbar {
  display: none;
}
