* {
  box-sizing: border-box;
}

body{
  max-width: 1000px;
  margin: 0 auto;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

h1{
  font-size: 50px;
  padding: 0px;
  margin: 10px;
  min-width: 400px;
}

nav{ 
  min-width: 500px;
}

nav ul{
  display: flex;
}

nav a{
  font-size: 30px;
  text-decoration: none;
  padding: 0 30px;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

nav a:hover{
  color: red;
}

nav a:active{
  color: black;
}

main{
  border: 1px solid black;
  background-color: green;
}

h2{
  font-size: 40px;
  text-align: center;
}

#grid{
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: space-around;
  row-gap: 20px;
  padding: 20px 0;
}

article{
  border: 1px solid black;
  background-color: white;
}

#picBlock{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

article img{
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;

}

article p{
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

#servesTime{
  display: flex;
  justify-content: space-around;
}

#servesTime p{
  font-size: 20px;
  padding: 10px;
}

footer{
  text-align: center;
  border: 1px solid black;
}

footer a{
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.socialMedia{
  width: 50px;
  height: 50px;
  color: black;
  cursor: pointer;
  margin: 20px;
  transition: 0.2s;
}

.socialMedia:hover{
  opacity: 0.5;
}

.socialMedia:active{
  opacity: 1;
}

footer p{
  margin-bottom: 10px;
}
