* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  padding: 15px 0px;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgb(236, 233, 233);
}

h1 {
  font-size: 70px;
  padding-left: 20px;
  margin: 10px;
  min-width: 400px;
  font-family: 'Lobster', cursive;
}

nav {
  min-width: 500px;
  padding-bottom: 15px;
  padding-right: 20px;
}

nav ul {
  display: flex;
}

nav a {
  font-size: 30px;
  text-decoration: none;
  padding: 0 30px;
  color: black;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  transition: 0.2s;
}

nav a:hover {
  color: #eb682f;
  text-decoration: underline;
}

nav a:active {
  color: black;
}

main {
  max-width: 1000px;
  height: 90%;
  margin: auto;
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 9rem;
  /* border: 1px solid black;*/
}

#imgAndList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#imgAndList img {
  height: 400px;
  width: 400px;


  object-fit: cover;
  /* border: 1px solid black; */

}

#imgAndList ul {
  /* border: 1px solid black; */
  width: 500px;
  text-align: center;
  list-style-position: inside;
  font-family: 'Patrick Hand', cursive;
}

h2 {
  font-family: 'Amiri', serif;
  font-weight: bold;
  font-size: 30px;
}

ul li {
  font-size: 20px;
  list-style-position: inside;
  /* list-style: disc; */
}

main ul li {
  line-height: 25px;
}

ol{
  padding-top: 20px;
}

ol li {
  padding: 5px;
  list-style-type: decimal;
  line-height: 25px;
  font-size: 20px;
  font-family: 'Amiri', serif;
}

footer {
  text-align: center;
  /* border: 1px solid black; */
}

footer a {
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.socialMedia {
  width: 50px;
  height: 50px;
  color: black;
  cursor: pointer;
  margin: 20px;
  transition: 0.2s;
}

.socialMedia:hover {
  opacity: 0.5;
}

.socialMedia:active {
  opacity: 1;
}

footer p {
  margin-bottom: 10px;
}

body::-webkit-scrollbar {
  display: none;
}
