/* Home page css */
* {
  box-sizing: border-box;
}

body{
  /* max-width: 1000px; */
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  padding: 15px 0px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 233, 233);
  /* border: 1px solid black; */
}

h1{
  /* font-family: 'Irish Grover'; */
  font-size: 50px;
  padding: 0px;
  margin: 10px;
  min-width: 400px;
}

nav{ 
  min-width: 500px;
}

nav ul{
  display: flex;
}

nav a{
  font-size: 30px;
  text-decoration: none;
  padding: 0 30px;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

nav a:hover{
  color: rgb(233, 154, 63);
  text-decoration: underline;
}

nav a:active{
  color: black;
}

main{
  max-width: 70%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 9rem;
  /* border: 1px solid black;*/
} 

main img{
  height: 450px;
  width: 450px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  margin: 100px 30px 100px 0;
}

main div{
  text-align: center;
  min-width: 400px;
  margin: 0 20px;
  background-color: red;
}

main p{
  font-size: 20px;
  margin: 20px;
}
main p:nth-child(3){
  margin-bottom: 50px;
}

cite{
  color: #eb682f;
  font-weight: bold;
}

#formButton{
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: center;
  background-color: #eb682f;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

#formButton:hover{
  color: white;
  /* border: 1px solid white; */
}

#formButton:active{
  color: black;
  border: 1px solid black;
}

footer{
  text-align: center;
  /* border: 1px solid black; */
}

footer a{
  width: 100px;
  height: 100px;
  text-decoration: none;
}

.socialMedia{
  width: 50px;
  height: 50px;
  color: black;
  cursor: pointer;
  margin: 20px;
  transition: 0.2s;
}

.socialMedia:hover{
  opacity: 0.5;
}

.socialMedia:active{
  opacity: 1;
}

footer p{
  margin-bottom: 10px;
}

body::-webkit-scrollbar {
  display: none;
}
